/target
.vscode
.idea
.DS_Store
src/ui/inline.rs
extractor
__pycache__
src/version.rs
src/sciter.dll
src/libsciter.dylib
src/libsciter-gtk.so
src/resources.rc
*.dmg
*.pdb
rustdesk-*.exe
rustdesk-*.deb
